@charset "utf-8";

body { background-color: #eee; }

.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.md_loadingImg {
  position: relative;
  margin: 0px auto;
  width: 100px;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  .circular {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform-origin: center center;
    .path {
      stroke-dasharray: 50, 100; // IEで変化させられないので固定値を設定
      stroke-linecap: round;
    }
    &.outside {
      animation: rotate-outside 1s linear infinite;
      .path {
        stroke: #368AC8;
        animation: dash-outside 1.8s ease-in-out infinite;
      }
    }
    &.inside {
      animation: rotate-inside 2.1s linear infinite;
      .path {
        stroke: #77C2DD;
        animation: dash-inside 2s ease-in-out infinite;
      }
    }
  }

  // outside -----
  @keyframes rotate-outside {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dash-outside {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124;
    }
  }
  // inside -----
  @keyframes rotate-inside {
    0% {
      transform: rotate(150deg);
    }
    100% {
      transform: rotate(510deg);
    }
  }
  @keyframes dash-inside {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -106;
    }
  }
}